.navbar-top {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  height: 48px;
  display: flex;
}

.navbar-top > .nav-button {
  font-size: 1.4em;
}


.navbar-top > .searchBar {
  margin-right: 100px;
  margin-left: 1em;
  margin-top: -5px;
  max-width: 500px;
  width: 100%;
}

.navbar-top > .navbar-icons {
  display: none;
  font-size: 28px;
  padding-top: 0.27em;
  padding-left: 0.4em;
  min-width: 50px;
  flex-grow: 3;
}

.navbar-top > .filler {
  min-width: 20px;
  flex-grow: 5;
}

.navbar-top > .filler-left {
  flex-grow: 3;
}

.navbar-top > .filler-right {
  min-width: 20px;
  flex-grow: 3;
}

.navbar-top > .cart {
  font-size: 32px;
  margin-top: -3px;
  margin-right: 5px;
  max-width: 60px;
  min-width: 40px;
  flex-grow: 3;
}

@media (max-width: 570px) {
  .navbar-top > .searchBar {
    display: none;
  }
  .navbar-top > .nav-button {
    display: none;
  }
  .navbar-top > .navbar-icons {
    display: block;
  }
  .navbar-top > .filler-right {
    max-width: 20px;
  }
  .navbar-top > .cart {
    flex-grow: 0.2;
  }
  .navbar-top > .navbar-icons {
    display: block;
  }
}

